.light-color, 
	.table-hover>tbody>tr:hover>td, li:hover, .dropdown-menu>a:hover {
	background-color: #a9fbc3;
}

.middle-color, .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th
	{
	background-color: #acfcd9;
}

.dark-color, .navbar, .dropdown-menu, .fixed-bottom, #head, .btn, tr.sticky-top, a.active {
	background-color: #55d6be !important;
}



body {
	background-color: white;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
}

.btn-width{
	width: 100px;
}

#mainGame {
	padding-top: 80px;
}

#main {
	padding-top: 56px;
}

thead.sticky-top {
	top: 56px;
}

.fixed-bottom{
	display:none;
}

table {
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid #868e96;
}

table tr:first-child th {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child, table tr th:first-child {
	border-left: 0;
}

table tr td:last-child, table tr th:last-child {
	border-right: 0;
}

html, body {
	height: 100% !important;
}
}